.Sidebar {
    display: flex;
    background-color: white;
    min-width: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.SidebarColumn {
    display: flex;
    width: 30%;
    flex-direction: column;
}
