.root {
    display: grid;
    justify-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.Menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
}

.menuCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.searchTop {
    width: 100%;
}

.restaurantInfo {
    margin: 1em;
    padding: 2em;
    color: whitesmoke;
    background: rgb(248, 129, 70);
    background: linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%);
    border-radius: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.restaurantInfo .rowUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restaurantInfo .rowUpper div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restaurantInfo .rowUpper h2 {
    font-size: 25px;
}

.restaurantInfo .rowLower {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 2em;
}