.root {
    display: grid;
    justify-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.Menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.menuCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.searchTop {
    width: 100%;
    /*padding: 10px;*/
}

.restaurantName {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}