.RegisterContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.register-wrapper {
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    padding: 3em;
    background-color: white;
}

.register-wrapper h1 {
    margin: 0;
    padding: 0;
}

.RegisterForm {
    padding: 2em 0;
    height: 70%;
}

.RegisterForm input[type=text], .RegisterForm input[type=password] {
    margin-top: 0.5em;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.RegisterForm input[type=text]:active, .RegisterForm input[type=password]:active,
.RegisterForm input[type=text]:focus, .RegisterForm input[type=password]:focus {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%) border-box;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
}

.RegisterForm input[type=text]:focus-visible, .RegisterForm input[type=password]:focus-visible {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%) border-box;
    border: 2px solid transparent;
}

.ActionButtonReversed {
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;
    border: none;
}

.ActionButtonReversed:hover {
    background: linear-gradient(90deg, rgb(236, 141, 94) 0%, rgb(241, 91, 127) 100%);
    color: whitesmoke;
}

.ActionButtonReversed:active {
    background: linear-gradient(90deg, rgb(231, 105, 39) 0%, rgb(246, 33, 87) 100%) border-box;
    color: whitesmoke;
}

.RegisterForm .ActionButtonReversed {
    margin-top: 1em;
    font-size: 1.3em;
}

.RegisterForm .errorMessage {
    color: #d50303;
}

.changeSignAction {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.changeSignAction p {
    margin: 0;
    padding: 0;
}

#loginLink {
    color: rgba(248, 129, 70, 1);
}

#loginLink:hover {
    color: rgba(248, 72, 114, 1);
}

#loginLink:active {
    color: rgba(246, 33, 87);
    border: none;
}