.navigationBar {
    height: 60px;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.loggedInNav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loggedInNav p {
    margin: 0;
    margin-right: 0.3em;
}

.loggedInNav div {
    margin-left: 0.3em;
}

.loggedInNav a {
    padding: 0.5em 0.8em;
    color: rgba(248, 129, 70);
}

.loggedInNav a:hover {
    color: rgb(245, 151, 112);
}

.loggedInNav a:active {
    color: rgba(248, 72, 114);
}

.navigationBar a {
    color: rgba(248, 129, 70) !important;
}

.navigationBar a h1:hover {
    color: rgb(245, 151, 112);
}

.navigationBar a h1:active {
    color: rgba(248, 72, 114);
}

.orderBtnEmpty {
    background-color: transparent;
    border: none;
    padding: 0.5em 0.8em;
    font-weight: bold;
    color: rgba(248, 129, 70, 1);
}

.orderBtnEmpty:hover {
    color: rgb(245, 151, 112);
}

.orderBtnEmpty:active {
    color: rgba(248, 72, 114, 1);
}

.actionNavRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actionNavRow .ActionButton, .addRestaurantBtnWrapper .ActionButton {
    border: none;
}