.restaurantCardStyle {
    margin: 5px;
    background-color: ghostwhite;
    border-radius: 1.2em;
    color: #323141;
    border: 4px solid transparent;
    text-decoration: none;

}

.restaurantCardStyle:hover {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%) border-box;
    border: 4px solid transparent;
}

img.restaurantCardImg {
    width: 14.6em;
    border-radius: 1em;
    height: 10em;
    object-fit: cover;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

.restaurantDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.restaurantDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 24px;
}

.restaurantDetails img {
    height: 24px;
    width: auto;
    margin-right: 0.2em;
}

.restaurantDetails div:first-child img {
    height: 30px;
}

.restaurantDetails div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.restaurantDetails div p {
    margin-left: 0.2em;
}