.root {
    display: grid;
    justify-items: center;
    flex-direction: column;
    height: 100%;
}

.Restaurant {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    flex-wrap: wrap;
    width: 90%;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    box-sizing: border-box;
    color: whitesmoke;
    background: rgb(248, 129, 70);
    background: linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%);
}

.writing {
    text-align: left;
}

.banner h1 {
    font-weight: 600;
    padding: 20px 0px;
}

.restaurantsCardsWrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.noRestaurants {
    display: flex;
    padding: 2em;
    color: rgba(248, 72, 114);
    font-weight: 500;
}