.Basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.Basket button {
    /*width: 80%;*/
}

.BasketItem {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.BasketItem img {
    width: 4em;
    height: 3em;
    border-radius: 0.5em;
    margin-top: 0.2em;
    object-fit: cover;
}

.BasketItem p {

}

.amountButtons {

}

.amountButtons button {

}

.amountButtons button {
    width: 1em;
    text-align: center;
    background: linear-gradient(90deg, rgba(248, 129, 70, 1) 0%, rgba(248, 72, 114, 1) 100%);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;
    border: none;
}

.amountButtons button:hover {
    background: linear-gradient(90deg, rgb(236, 141, 94) 0%, rgb(241, 91, 127) 100%);
    color: whitesmoke;
}

.amountButtons button:active {
    background: linear-gradient(90deg, rgb(231, 105, 39) 0%, rgb(246, 33, 87) 100%) border-box;
    color: whitesmoke;
}